<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>The Diner</h1>
        </div>
    </div>

    <div id="row">
        <div id="diner-col-left" class="col-md-6">
            <div id="diner-appetizer">
                <h2>Appetizers</h2>
                <table class="table">
                    <tr ng-repeat="menuItem in menu | filter: {category: 'appetizer'}">
                        <td class="col-md-6">{{menuItem.name}}</td>
                        <td class="col-md-3">{{menuItem.price | currency: "$"}}</td>
                        <td class="col-md-3">
                            <form>
                                <input type="button" value="Add" ng-click="addToOrder(menuItem)" />
                            </form>
                        </td>
                    </tr>
                </table>
            </div> <!--End diner appetizer-->
            <div id="diner-mains">
                <h2>Main Course</h2>
                <table class="table">
                    <tr ng-repeat="menuItem in menu | filter: {category: 'mainCourse'}">
                        <td class="col-md-6">{{menuItem.name}}</td>
                        <td class="col-md-3">{{menuItem.price | currency: "$"}}</td>
                        <td class="col-md-3">
                            <form>
                                <input type="button" value="Add" ng-click="addToOrder(menuItem)" />
                            </form>
                        </td>
                    </tr>
                </table>
            </div><!--End diner mains-->
            <div id="diner-dessert">
                <h2>Desserts</h2>
                <table class="table">
                    <tr ng-repeat="menuItem in menu | filter: {category: 'dessert'}">
                        <td class="col-md-6">{{menuItem.name}}</td>
                        <td class="col-md-3">{{menuItem.price | currency: "$"}}</td>
                        <td class="col-md-3">
                            <form>
                                <input type="button" value="Add" ng-click="addToOrder(menuItem)" />
                            </form>
                        </td>
                    </tr>
                </table>
            </div><!--End diner dessert-->
            <div id="diner-drinks">
                <h2>Drinks</h2>
                <table class="table">
                    <tr ng-repeat="menuItem in menu | filter: {category: 'drink'}">
                        <td class="col-md-6">{{menuItem.name}}</td>
                        <td class="col-md-3">{{menuItem.price | currency: "$"}}</td>
                        <td class="col-md-3">
                            <form> 
                                <input type="button" value="Add" ng-click="addToOrder(menuItem)" />
                            </form>
                        </td>
                    </tr>
                </table>
            </div><!-- End diner drinks-->
        </div> <!-- End diner col left-->
        <div id="diner-col-right" class="col-md-6">
            <div id="diner-patron">
                <h3 class="text-center">Order</h3>
                <table class="table">
                    <tr ng-repeat="orderItem in myOrder track by $index">
                        <td class="col-md-6">{{orderItem.name}}</td>
                        <td class="col-md-3">{{orderItem.price | currency: "$"}}</td>
                        <td class="col-md-3"><input type="button" value="Remove" ng-click="removeFromOrder(orderItem)" /></td>
                    </tr>
                </table>
            </div>
            <div id="diner-calc">
                <table class="table-condensed text-center">
                    <tr>
                        <th scope="row">Total</th>
                        <td>{{myTotal.total | currency: "$"}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Tax</th>
                        <td><input type="number" name="tax" ng-model="myTotal.tax" min="0" required/></td>
                    </tr>
                    <tr>
                        <th scope="row">Tip</th>
                        <td><input type="number" name="tax" ng-model="myTotal.tip" min="0" required /></td>
                    </tr>
                    <tr>
                        <th scope="row"><h3>Grand Total</h3></th>
                        <td><h3>{{myTotal.grandTotal | currency: "$"}}</h3></td>
                    </tr>
                </table>
            </div>
        </div> <!-- End diner col right-->
    </div>
</div> <!--End Container-->
