<div class="container">
    <div class="row text-center">
        <h1>The Diner</h1>
    </div> <!-- End diner banner-->

    <div id="diner-col-left">
        <div id="diner-appetizer">
            <h2>Appetizers</h2>
        </div> <!--End diner appetizer-->
        <div id="diner-mains">
            <h2>Main Course</h2>
        </div><!--End diner mains-->
        <div id="diner-dessert">
            <h2>Desserts</h2>
        </div><!--End diner dessert-->
        <div id="diner-drinks">
            <h2>Drinks</h2>
        </div><!-- End diner drinks-->
    </div> <!-- End diner col left-->
    <div id="diner-col-right">
        <div id="diner-patron"></div>
        <div id="diner-calc"></div>
    </div> <!-- End diner col right-->
</div>
